<nav class="nav_links">
  <div class="logo">logo</div>
  <div class="d1_nav">
    <ul class="ul_links" style="list-style-type: none">
      <li><a class="a_nav" routerLink="/">Home</a></li>
      <li><a class="a_nav" routerLink="/about">About Us</a></li>
      <li><a routerLink="/solutions">Solutions</a></li>
      <li><a class="a_nav" routerLink="/connexion">cnx</a></li>

      <li>Service</li>
      <li>Projects</li>
      <li></li>
    </ul>
    <p class="contact_nav">Contact 12345678</p>
  </div>
</nav>
