<div class="div_backg">
  <P id="phrase_home"> Bâtir la confiance, <br />créer de la valeur.</P>
  <p id="text_home">
    Nous transformons les skylines et créons des espaces durables pour <br />
    les générations futures. Excellence et innovation dans chaque projet.
  </p>
  <input type="button" value="Nous contacter" class="btn" />
</div>
<!-- About Section (Qui sommes nous) -->
<div class="d2">
  <h1 id="titre_home">Leader Responsable</h1>
  <br />
  <p id="prag_d2">
    Fondée sur des principes d'intégrité et de qualité, notre entreprise est
    <br />
    leader dans le secteur de la construction moderne. Nous croyons que<br />
    chaque brique posée contribue à un avenir meilleur.
    <br /><br />
    Notre équipe d'experts combine une expérience technique de pointe <br />avec
    une passion pour l'architecture durable. De la conception <br />à la
    livraison, nous garantissons une transparence totale et <br />des résultats
    qui dépassent les attentes.
  </p>

  <div class="info_home">
    <div class="info">
      <h3>25+</h3>
      <span
        >Années <br />
        d'expérience</span
      >
    </div>
    <div class="info">
      <h3>350+</h3>
      <span>Projets livrés</span>
    </div>
    <div class="info">
      <h3>100%</h3>
      <span>Satisfaction</span>
    </div>
  </div>
  <img
    src="../../../assets/images/2.jpg"
    alt="Équipe de chantier discutant des plans"
    srcset=""
    id="img_home"
  />
</div>
<!-- Services Section -->
<div class="d3">
  <h2 class="d3_title">Nos Expertises</h2>
  <p class="p1_d3">
    Des solutions complètes pour tous vos besoins en construction et rénovation.
  </p>
  <div class="grid">
    <!--Service 1-->
    <div class="d_service">
      <img
        src="../../../assets/images/excavator_10569334.png"
        alt=""
        class="icon"
      />
      <h3 class="tit_ser">Construction Commerciale</h3>
      <p class="parag_ser">
        Création de bureaux, de centres<br />
        commerciaux et d'espaces industriels <br />conçus pour l'efficacité et
        le confort.
      </p>
    </div>
    <!--Service 2-->
    <div class="d_service">
      <img
        src="../../../assets/images/home_12248942.png"
        alt=""
        srcset=""
        class="icon"
      />
      <h3 class="tit_ser">Résidentiel Haut de Gamme</h3>
      <p class="parag_ser">
        Construction de maisons modernes et de copropriétés avec un accent sur
        le design intérieur et la durabilité.
      </p>
    </div>
    <!--Service 3-->
    <div class="d_service">
      <img
        src="../../../assets/images/construction_17424207.png"
        class="icon"
        alt=""
        srcset=""
      />
      <h3 class="tit_ser">Gestion de Projet</h3>
      <p class="parag_ser">
        Supervision complète de chantier, respect strict des délais et gestion
        budgétaire optimisée.
      </p>
    </div>
  </div>
</div>
